@page "/CreateUser"
@using Microsoft.AspNetCore.Components
@using crudAppCW2.Data
@using crudAppCW2.Data.Models
@using crudAppCW2.Models
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<AppDbContext> ContextFactory


<PageTitle>Create User</PageTitle>

<h3>CreateUser</h3>

<EditForm Model="@User" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group">
        <label for="firstName">First Name:</label>
        <InputText @bind-Value="User.FirstName" placeholder="First Name" class="form-control" style="width: 450px;"/>
        <ValidationMessage For="@(() => User.FirstName)"/>
    </div>

    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <InputText @bind-Value="User.LastName" placeholder="Last Name" class="form-control" style="width: 450px;"/>
        <ValidationMessage For="@(() => User.LastName)"/>
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <InputText @bind-Value="User.Email" placeholder="Email" class="form-control" style="width: 450px;"/>
        <ValidationMessage For="@(() => User.Email)"/>
    </div>

    <div class="form-group d-flex">
        <div class="mr-4">
            <label for="role1">Choose Role:</label>
            <select @bind="User.RoleId" class="form-select" style="width: 160px;">
                <option value="1">Admin</option>
                <option value="2">User</option>
            </select>
        </div>

        <div>
            <label for="role2">Choose Department:</label>
            <select @bind="User.DepartmentId" class="form-select" style="width: 290px;">
                <option value="1">Commercial</option>
                <option value="2">Golf Course</option>
                <option value="3">Maintenance</option>
                <option value="4">IT</option>
                <option value="5">Admin</option>
            </select>
        </div>
    </div>
    <br/>
    <button class="btn btn-primary" type="submit">Add This User</button>
    <button class="btn btn-secondary" @onclick="CreateUsers">Back</button>

</EditForm>


@code {
    private User? User = new User() { RoleId = 1 };

    private Role? Role = new Role();

    private bool IsBusy { get; set; }

    private string? SuccessMessage { get; set; }

    private string? ErrorMessage { get; set; }

    [Inject]
    private NavigationManager _navigationManager { get; set; }

    private async Task HandleSubmit(bool isValid)
    {
        if (isValid)
        {
            await HandleValidSubmit();
        }
        else
        {
            HandleInvalidSubmit();
        }
    }

    private async Task HandleValidSubmit()
    {
        if (IsBusy)
        {
            return;
        }

        IsBusy = true;

        try
        {
            if (User is not null)
            {
                User.RoleId = User.RoleId; // Set RoleId
                User.DepartmentId = User.DepartmentId; // Set DepartmentId

                await using var context = await ContextFactory.CreateDbContextAsync();

                context.User.Add(User);
                await context.SaveChangesAsync();

                SuccessMessage = $"User {User.FirstName} {User.LastName} was added successfully.";
                ErrorMessage = null;

    // Reset User object for next creation
                User = new User()
                {
                    RoleId = 1
                };
            }
        }
        catch (Exception ex)
        {
            SuccessMessage = null;
            ErrorMessage = $"Error while adding user: {ex.Message}";
        }
        finally
        {
            IsBusy = false;
        }
    }


    private void CreateUsers()
    {
        _navigationManager.NavigateTo("/Users");
    }

    private void HandleInvalidSubmit()
    {
        SuccessMessage = null;
        ErrorMessage = null;
    }

}