@page "/CreateUser"
@using Microsoft.AspNetCore.Components
@using crudAppCW2.Data
@using crudAppCW2.Data.Models
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<AppDbContext> ContextFactory


<PageTitle>Create User</PageTitle>

<h3>Create New User</h3>

<EditForm Model="@_user" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group">
        <label>First Name:</label>
        <InputText @bind-Value="_user.FirstName" placeholder="First Name" class="form-control" style="width: 450px;" @oninput="(() => { if (_user?.FirstName != null) { CapitalizeName(_user, u => u.FirstName, (u, value) => u.FirstName = value); }})"/>
        <ValidationMessage For="@(() => _user!.FirstName)"/>
    </div>

    <div class="form-group">
        <label>Last Name:</label>
        <InputText @bind-Value="_user.LastName" placeholder="Last Name" class="form-control" style="width: 450px;" @oninput="(() => { if (_user?.LastName != null) { CapitalizeName(_user, u => u.LastName, (u, value) => u.LastName = value); }})"/>
        <ValidationMessage For="@(() => _user!.LastName)"/>
    </div>

    <div class="form-group">
        <label>Email:</label>
        <InputText @bind-Value="_user.Email" placeholder="Email" class="form-control" style="width: 450px;"/>
        <ValidationMessage For="@(() => _user!.Email)"/>
    </div>

    <div class="form-group d-flex">
        <div class="mr-4">
            <label>Choose Role:</label>
            @foreach (var userRole in _user!.UserRoles)
            {
                <div class="d-flex mb-2 me-3">
                    <select @bind="userRole.RoleId" class="form-select" style="width: 160px;">
                        @foreach (var role in Roles)
                        {
                            <option value="@role.RoleId">@role.Name</option>
                        }
                    </select>
                    <button type="button" class="btn btn-danger ms-2" @onclick="@(() => _user.UserRoles.Remove(userRole))">
                        Remove
                    </button>
                </div>
            }
            <button type="button" class="btn btn-primary" @onclick="@(() => _user.UserRoles.Add(new UserRole { RoleId = 1 }))">
                Add Role +
            </button>
        </div>

        <div>
            <label>Choose Department:</label>
            <select @bind="_user.DepartmentId" class="form-select" style="width: 290px;">
                @foreach (var department in Departments)
                {
                    <option value="@department.DepartmentId">@department.Name</option>
                }
            </select>
        </div>
    </div>

    <br/>
    <button class="btn btn-primary" type="submit">Add User</button>
    <button class="btn btn-secondary" @onclick="CreateUsers">Back</button>

</EditForm>


@code {

    private User? _user = new User
    {
        UserRoles = new List<UserRole>
        {
            new() { RoleId = 1 }
        }
    };

    private List<Department> Departments { get; set; } = null!;
    private List<Role> Roles { get; set; } = null!;

    private bool IsBusy { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        await using var context = await ContextFactory.CreateDbContextAsync();
        Departments = await context.Department.ToListAsync();
        Roles = await context.Role.ToListAsync();
    }

    private async Task HandleValidSubmit()
    {
        if (IsBusy)
        {
            return;
        }

        IsBusy = true;

        try
        {
            if (_user is not null)
            {
    // Capitalize first and last name before saving
                CapitalizeName(_user, u => u.FirstName!, (u, value) => u.FirstName = value);
                CapitalizeName(_user, u => u.LastName!, (u, value) => u.LastName = value);

                _user.DepartmentId = _user.DepartmentId; // Set DepartmentId

                await using var context = await ContextFactory.CreateDbContextAsync();

                context.User.Add(_user);
                await context.SaveChangesAsync();

    // Reset User object for next creation
                _user = new User
                {
                    UserRoles = new List<UserRole>
                    {
                        new() { RoleId = 1 }
                    }
                };
            }
        }
        catch (Exception)
        {
    // ignored
        }
        finally
        {
            IsBusy = false;
        }
    }


    private void CapitalizeName(User user, Func<User, string> nameSelector, Action<User, string> nameSetter)
    {
        var name = nameSelector(user);
        if (string.IsNullOrWhiteSpace(name))
        {
            return;
        }

        var words = name.Split(new[] { ' ' }, StringSplitOptions.RemoveEmptyEntries);

        for (int i = 0; i < words.Length; i++)
        {
            var word = words[i];
            words[i] = char.ToUpper(word[0]) + word.Substring(1).ToLower();
        }

        name = string.Join(" ", words);
        nameSetter(user, name);
    }

    private void CreateUsers()
    {
        NavigationManager.NavigateTo("/Users");
    }

    private void HandleInvalidSubmit()
    {
    }

}