@page "/DeletedUsers"
@using crudAppCW2.Models
@using crudAppCW2.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<AppDbContext> ContextFactory

<PageTitle>Deleted Users</PageTitle>

<h3>Recently Deleted Users</h3>

<button class="btn btn-outline-secondary btn-sm me-2" @onclick="SelectAllUsers">Select All</button>
<button class="btn btn-outline-success btn-sm" @onclick="async () => await RestoreSelectedUsers()">Restore Selected</button>



@if (DeletedUsersTable == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Select</th>
            <th>User</th>
            <th>Email</th>
            <th>Role</th>
            <th>Department</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var User in DeletedUsersTable)
        {
            <tr>
                <td>
                    <input type="checkbox" @bind="User.IsSelected"/>
                </td>
                <td>@User.GetCapitalizedString(User.FirstName) @User.GetCapitalizedString(User.LastName)</td>
                <td>@User.Email</td>
                <td>
                    @foreach (var userRole in User.UserRoles)
                    {
                        <div class="me-1">
                            @userRole.Role?.Name
                        </div>
                    }
                </td>
                <td>
                    @User.Department?.Name
                </td>
                <td>
                    <button class="btn btn-success" @onclick="async () => await RestoreUser(User.UserId)">Restore</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="NavigateToUsers">Back to Users</button>
}

@code {
    private List<User> DeletedUsersTable { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        await using var context = ContextFactory.CreateDbContext();
        DeletedUsersTable = await context.User
            .Include(x => x.Department)
            .Include(x => x.UserRoles).ThenInclude(x => x.Role)
            .Where(x => x.IsRestored && !x.IsSelected) // only load deleted users that are not selected for deletion
            .ToListAsync();
    }


    private async Task RestoreUser(int id)
    {
        await using var context = ContextFactory.CreateDbContext();
        var userToRestore = await context.User.FirstOrDefaultAsync(u => u.UserId == id);
        if (userToRestore != null)
        {
            userToRestore.IsRestored = false;
            await context.SaveChangesAsync();
            await LoadData();
        }
    }

    private void SelectAllUsers()
    {
        bool allSelected = DeletedUsersTable.All(u => u.IsSelected);
        foreach (var user in DeletedUsersTable)
        {
            user.IsSelected = !allSelected;
        }
    }


    private async Task RestoreSelectedUsers()
    {
        await using var context = ContextFactory.CreateDbContext();
        foreach (var user in DeletedUsersTable.Where(u => u.IsSelected))
        {
            var userToRestore = await context.User.FirstOrDefaultAsync(u => u.UserId == user.UserId);
            if (userToRestore != null)
            {
                userToRestore.IsRestored = false;
            }
        }
        await context.SaveChangesAsync();
        await LoadData();
    }


    private void NavigateToUsers()
    {
        NavigationManager.NavigateTo("/Users");
    }


}